<div class="d-button-row">
  <div class="header">
    <span>{{buttonRow.headerText}}</span>
    <span ng-if="!buttonRow.headerSubtextHtml" class="subtext">{{buttonRow.headerSubtext}}</span>
    <span ng-if="buttonRow.headerSubtextHtml" class="subtext" ng-bind-html="buttonRow.headerSubtextHtml"></span>
  </div>
  <div class="buttons" ng-repeat="button in buttonRow.buttons">
    <button type="button.type" ng-class="button.type" ng-click="button.action()" aria-label="button.text">
      <span ng-bind-html="button.icon"></span><span> {{button.text}}</span>
    </button>
  </div>
</div>
